.jumbotron {
	padding-top: 5em;
	width: 100%;
	text-align: center;
}

.btn-go {
	margin-top: 10px;
}

.main-search {
	width: 80%;
	height: 24px;
}

#resultContainer {
	padding-top: 20px;
}

.result-link {
	width: 90%;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	display: block;
	float: left;
}

.result-icon {
	display: block;
	float: left;
	margin-top: 3px;
	padding-right: 5px;
}

#searchProgress {
	width: 0;
	margin: auto;
	padding-top: 70px;
	padding-left: 14px;
}